html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

/* h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  } */

/* li{
    margin-top: 20px;
} */

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 90%
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.grid figure{
    margin: 30px;
}

footer{
    margin: 10px
}

@media screen and (min-width: 772px){
    .grid{
        grid-template-columns: 1fr 1fr;
    } 

    img{
        border-radius: 500px;
        height: auto;
        width: 100%;

    }

    figure:last-child{
        grid-column: 1 / span 2;
    }
}

@media screen and (min-width: 992px){
    .grid{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    } 
 
    img{
        border-radius: 0px;
        height: auto;
        width: 100%;
    }

    figure:nth-child(3n){
        grid-column: 1 / span 2;
    }
}

@media (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
}

@media (prefers-color-scheme: dark){
    body{
        background-color: darkgray;
    }
    figure{
        color: yellow;
    }

    img{
        border: 5px solid black
    }
}